<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Medical Services</title>
	<link rel="stylesheet" type="text/css" href="style2.css">
</head>
<body>
<header>
		<h1> Medical Portal Access Control Portal  </h1>
		<h2> Hi {{full_name}} you are logged in </h2>
		<p id="firstp">Service Selection </p>
</header>
<div id="selector">
	
	<ul class="nav">
		<li><a href="">Start</a> </li>
		
		<li><a href="">Services</a>
			<ul>
				<li><a href="">Electronic Medical Record Access</a></li>
				<li><a href="">Virtual Assistance</a></li>
				<li><a href="">Telepresence Operation</a></li>
				<li><a href="">Patient Vital Signs Checking</a></li>
				<li><a href="">Exams Result Checking</a></li>
				<li><a href="">Virtual Visit Guess</a></li>
			</ul>
		</li>
	</ul>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="Template.html"> Policy Creation </a>

</body>
</html>