<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Policy Creation</title>
	<link rel="stylesheet" type="text/css" href="style3.css">
</head>
<body>
	<header>
		<h1> Medical Portal Access Control Portal </h1>
		<p id="firstp">Policy Creation </p>
	<form>
		<fieldset>
			<legend> Select User</legend>
			<select id= "user">
				<option value= "1">Antonio Villavicencio</option>
				<option value= "2">Henry Bild</option>
				<option value= "3">Thomas Her</option>
				<option value= "4">Philip Ren</option>
				<option value= "5">Thierry Watson</option>
			</select>
		</fieldset>
	</form>

	<form>
		<fieldset>
			<legend> Select Action</legend>
			<select id= "user">
				<option value= "1">Create</option>
				<option value= "2">Read</option>
				<option value= "3">Update</option>
				<option value= "4">Detele </option>
			</select>
		</fieldset>
	</form>

	<form>
		<fieldset>
			<legend> Select Resource</legend>
			<select id= "resource">
				<option value= "1">Health Record1</option>
				<option value= "2">Health Record2</option>
				<option value= "3">Health Record3</option>
				<option value= "4">Health Record4</option>
				<option value= "5">Health Record5</option>
			</select>
		</fieldset>
	</form>


	<form>
		<fieldset>
			<legend> Select Role</legend>
			<select id= "resource">
				<option value= "1">Administrator</option>
				<option value= "2">Employee</option>
				<option value= "3">Doctor</option>
				<option value= "3">Urgency Doctor</option>
				<option value= "4">Patient</option>
				<option value= "5">Other</option>
			</select>
		</fieldset>
	</form>

</body>
</html>